input.form-control.input-lg{
  margin-top:10px;
}

label.label_inline{
  display:inline-block;
}

.pad-accom{
  padding:20px;
}

input.chk-lg{
  height:30px;
  width:40px;
}

.marg{
  margin-top:10px;
}

.padd{
  padding:5px;
}

.row-margin{
  margin-top:10px;
}

.padd-input{
  margin-top:10px;
}

.margin-s{
}

